@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
.react-resizable-handle {
  cursor: nwse-resize;
}
.glow {
  text-shadow: 0 0 2px currentColor;
}
